

.App {
  display: flex;
  height: 100%;
  flex-direction: column;
  z-index: -10;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 20px;

}

.SearchInput{
margin-bottom: 30px;
}

.Weather {
  display: flex;
  flex-direction: column;
  justify-content: center!important;
  width: 390px;
  color: rgb(113, 113, 113);
  /* border: 1px solid rgb(255, 255, 255); */
  border-radius: 15px;
  padding: 30px;
}

.Container{
  color: black ;
}