
* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  z-index: -10;
  align-items: center;
  justify-content: center;
  margin: 30px;


}

.SearchInput{
  min-width: 350px;
  width: 30%;
margin-bottom: 30px;
}

.Weather {
  display: flex;
  flex-direction: column;
  justify-content: center!important;
  min-width: 350px;
  min-height: 700px;
  color: rgb(113, 113, 113);
  border-radius: 35px;
  padding: 30px;
}

.Container{
  color: black ;
}